body {
  margin: 0;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monac, Menlo, Consolas, 'Courier New',
    monospace;
}
